<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.wanho.mapper.ProductcategoryMapper" >
  <resultMap id="BaseResultMap" type="net.wanho.pojo.Productcategory" >
    <id column="tid" property="tid" jdbcType="BIGINT" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="logicaldelete" property="logicaldelete" jdbcType="BIGINT" />
    <result column="modifytime" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="iconclass" property="iconclass" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tid, createtime, logicaldelete, modifytime, name, parentid, type, iconclass
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from productcategory
    where tid = #{tid,jdbcType=BIGINT}
  </select>
    <select id="queryProductCategoryListbyParentId" resultType="net.wanho.pojo.Productcategory">
      select *from productcategory
        where logicaldelete=0
      <if test="parentid!=null">
        and parentid=#{parentid}
      </if>
    </select>
  <select id="queryProductCategoryList" resultType="net.wanho.pojo.Productcategory">
    select *from productcategory
    where logicaldelete=0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from productcategory
    where tid = #{tid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="net.wanho.pojo.Productcategory"  useGeneratedKeys="true" keyProperty="tid" keyColumn="tid">
    insert into productcategory ( createtime, logicaldelete,
      modifytime, name, parentid, 
      type, iconclass)
    values ( now(), 0,
      #{modifytime,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{iconclass,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.wanho.pojo.Productcategory"  useGeneratedKeys="true" keyProperty="tid" keyColumn="tid">
    insert into productcategory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        tid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="logicaldelete != null" >
        logicaldelete,
      </if>
      <if test="modifytime != null" >
        modifytime,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="iconclass != null" >
        iconclass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="logicaldelete != null" >
        #{logicaldelete,jdbcType=BIGINT},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="iconclass != null" >
        #{iconclass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.wanho.pojo.Productcategory" >
    update productcategory
    <set >
      <if test="1 == 1" >
        modifytime = now(),
      </if>
      <if test="logicaldelete != null" >
        logicaldelete = #{logicaldelete,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="iconclass != null" >
        iconclass = #{iconclass,jdbcType=VARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.wanho.pojo.Productcategory" >
    update productcategory
    set  modifytime = now(),
      logicaldelete = #{logicaldelete,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      iconclass = #{iconclass,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=BIGINT}
  </update>
</mapper>