<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.wanho.mapper.UserroleMapper" >
  <resultMap id="BaseResultMap" type="net.wanho.pojo.Userrole" >
    <id column="tid" property="tid" jdbcType="BIGINT" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="logicaldelete" property="logicaldelete" jdbcType="BIGINT" />
    <result column="modifytime" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="roleid" property="roleid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    tid, createtime, logicaldelete, modifytime, userid, roleid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from userrole
    where tid = #{tid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from userrole
    where tid = #{tid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="net.wanho.pojo.Userrole"  useGeneratedKeys="true" keyProperty="tid" keyColumn="tid">
    insert into userrole ( createtime, logicaldelete,
      modifytime, userid, roleid
      )
    values (now(), 0,
      #{modifytime,jdbcType=TIMESTAMP}, #{userid,jdbcType=BIGINT}, #{roleid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.wanho.pojo.Userrole"  useGeneratedKeys="true" keyProperty="tid" keyColumn="tid">
    insert into userrole
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="1 ==1" >
        createtime,
      </if>
      <if test="1 ==1" >
        logicaldelete,
      </if>
      <if test="modifytime != null" >
        modifytime,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

      <if test="1==1" >
       now(),
      </if>
      <if test="1==1" >
        0,
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.wanho.pojo.Userrole" >
    update userrole
    <set >

      <if test="logicaldelete != null" >
        logicaldelete = #{logicaldelete,jdbcType=BIGINT},
      </if>
      <if test="modifytime ==1" >
        modifytime = now(),
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="roleid != null" >
        roleid = #{roleid,jdbcType=BIGINT},
      </if>
    </set>
    where tid = #{tid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.wanho.pojo.Userrole" >
    update userrole
    set createtime = #{createtime,jdbcType=TIMESTAMP},
      logicaldelete = #{logicaldelete,jdbcType=BIGINT},
      modifytime = #{modifytime,jdbcType=TIMESTAMP},
      userid = #{userid,jdbcType=BIGINT},
      roleid = #{roleid,jdbcType=BIGINT}
    where tid = #{tid,jdbcType=BIGINT}
  </update>
</mapper>